* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header-logo {
  max-width: 115px;
}
.header {
  width: 100%;
  max-width: 1920px;
  background-color: #0020f4;
  display: flex;
  justify-content: center;
}
.header2 {
  padding-top: 40px;
  max-width: 1495px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  padding-bottom: 282px;
}
.nav {
  max-width: 836px;
}
.ul {
  display: flex;
  justify-content: flex-end;
}
.ul li {
  margin-left: 45px;
}

ul a {
  color: #ffffff;
}
.mtavari {
  border-bottom: 1px #ffffff solid;
  padding-bottom: 5px;
}
.last-li {
  color: #171717;
  background-color: #ffffff;
  padding: 18px 40px;
  border-radius: 28px;
}

.section1 {
  margin-top: -172px;
  max-width: 1195px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h3-1 {
  padding-top: 30px;
}
.article {
  padding: 60px 12px;
}
.image-5 {
  display: flex;
}
.section2 {
  width: 100%;
  max-width: 951px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section2 p {
  padding-bottom: 18px;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 198px;
}
.button {
  color: #ffffff;
  background-color: #0020f4;
  max-width: 341px;
  padding: 18px 60px;
  border-radius: 28px;
  margin-top: 56px;
  border: 0.2px #0020f4;
}

.footer-info {
  color: #ffffff;
  max-width: 463px;
  width: 100%;
  display: flex;
  flex-direction: column;
  vertical-align: center;
}
.footer-info h2 {
  padding-bottom: 30px;
}
.map {
  width: 100%;

  margin-top: 58px;
  border-radius: 15px;
  max-width: 463px;
  max-height: 197px;
}
.email-phone {
  max-width: 672px;
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
}
.email-phone a {
  padding-left: 20px;
  color: #ffffff;
  width: 100%;
  display: flex;
  padding-top: 20px;
}
.phone {
  font-size: x-large;
  display: flex;
  vertical-align: middle;
}

.phone-logo {
  max-width: 70px;
  background-color: #ffffff;
  padding: 18px;
  border-radius: 50px;
}
.email {
  font-size: x-large;
  display: flex;
  vertical-align: middle;
  padding-left: 120px;
}
.email-logo {
  max-width: 70px;
  background-color: #ffffff;
  padding: 18px;
  border-radius: 50px;
}
.input {
  max-width: 460px;
  width: 100%;
  border: none;
  border-bottom: 0.3px solid #ffffff;
  background-color: #0020f4;
  padding-top: 20px;
}
.input:hover {
  border: 0.3px #5060c6 solid;
}
.form {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  max-width: 463px;
  width: 100%;
  align-items: end;
}
.form-div {
  max-width: 460px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  background-color: #0020f4;
}
.textarea {
  background-color: #0020f4;
  border: none;
  border-bottom: 0.3px #ffffff solid;
  max-width: 460px;
  width: 100%;
}
.textarea:hover {
  border: 0.3px #5060c6 solid;
}
.footer-head {
  padding-top: 275px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
.full-contact {
  display: flex;
  flex-direction: column;
}
.footer1section {
  max-width: 1429px;
  width: 100%;
}
.footer {
  background-color: #0020f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  width: 100%;
}
.button-last {
  color: #171717;
  background-color: #ffffff;
  max-width: 153px;
  border: #ffffff solid 0.1px;
  border-radius: 28px;
  padding: 13px 40px;
  margin-top: 40px;
  display: flex;
}
.footer2section {
  padding-top: 105px;
  padding-bottom: 32px;
  color: #ffffff;
  max-width: 1429px;
  width: 100%;
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
}
.last-div {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.last-logo {
  padding-left: 30px;
}
