* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header-logo {
  max-width: 115px;
}
.header {
  width: 100%;
  max-width: 1920px;
  background-color: #0020f4;
  display: flex;
  justify-content: center;
}
.header2 {
  padding-top: 40px;
  max-width: 1495px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  padding-bottom: 282px;
}
.nav {
  max-width: 836px;
}
.ul {
  display: flex;
  justify-content: flex-end;
}
.ul li {
  margin-left: 45px;
}

ul a {
  color: #ffffff;
}
.mtavari {
  border-bottom: 1px #ffffff solid;
  padding-bottom: 5px;
}
.last-li {
  color: #171717;
  background-color: #ffffff;
  padding: 18px 40px;
  border-radius: 28px;
}

.section1 {
  margin-top: -172px;
  max-width: 1195px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h3-1 {
  padding-top: 30px;
}
.article {
  padding: 60px 12px;
}
.image-5 {
  display: flex;
}
.section2 {
  width: 100%;
  max-width: 951px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section2 p {
  padding-bottom: 18px;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  color: #ffffff;
  background-color: #0020f4;
  max-width: 341px;
  padding: 18px 60px;
  border-radius: 28px;
  margin-top: 56px;
  border: 0.2px #0020f4;
}
